header { background-color: yellow ; padding: 0.3em;
         margin-left : 1% !important;  width : 98% !important; }
/*url('../images/building.png'); url('https://mdn.mozillademos.org/files/7693/catfront.png')*/
main#mainContent {
	 background-image: url('../images/building.png');
	 background-size: cover;
	 color : white;
	 margin-left : 1% !important;  width : 98% !important;
	 border-color: blue ; border-width : 2px; border-style: solid;
}

#appTitle { color: blue; font-weight : bold; }

.stickyHeader {
	position: fixed; /* Set to fixed position */
	top: 0; /* Position at the top of the page */
	width: 100%; /* Full width */
	height : 5rem; /* small necessary height for header content */
	z-index: 200;
  }
  
  
  
  .mainContentUnderStickyHeader{
	  margin-top: 5rem; /* Add a top margin to avoid content overlay */
  }
  
  .my-card {
	  color: white;
	  background-color : rgba(20,20,150,0.3);
	  border-radius : 2rem ;
	  padding : 1rem;
  }
  